<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite">
    <test verbose="2" name="D:/epam/epamtasks/task02array">
        <classes>
            <class name="test.zakharanka.task02array.service.impl.sort.BubbleSorterTest">
                <methods>
                    <include name="sortTest"/>
                </methods>
            </class>
            <class name="test.zakharanka.task02array.service.impl.sort.ShakerSorterTest">
                <methods>
                    <include name="sortTest"/>
                </methods>
            </class>
            <class name="test.zakharanka.task02array.service.impl.sort.ShellSorterTest">
                <methods>
                    <include name="sortTest"/>
                </methods>
            </class>
            <class name="test.zakharanka.task02array.service.impl.sort.SimpleChoiceSorterTest">
                <methods>
                    <include name="sortTest"/>
                </methods>
            </class>
            <class name="test.zakharanka.task02array.service.impl.sort.SimpleInsertSorterTest">
                <methods>
                    <include name="sortTest"/>
                </methods>
            </class>
            <class name="test.zakharanka.task02array.service.impl.matrix.AdderTest">
                <methods>
                    <include name="additionTest"/>
                </methods>
            </class>
            <class name="test.zakharanka.task02array.service.impl.matrix.MultiplierTest">
                <methods>
                    <include name="multiplyTest"/>
                </methods>
            </class>
            <class name="test.zakharanka.task02array.service.impl.matrix.SubtractorTest">
                <methods>
                    <include name="subtractionTest"/>
                </methods>
            </class>
            <class name="test.zakharanka.task02array.service.impl.matrix.TransporterTest">
                <methods>
                    <include name="transpositionTest"/>
                </methods>
            </class>
            <class name="test.zakharanka.task02array.dal.reader.ArrayReaderTest">
                <methods>
                    <include name="readArrayTest"/>
                </methods>
            </class>
            <class name="test.zakharanka.task02array.dal.reader.MatrixReaderTest">
                <methods>
                    <include name="readMatrixTest"/>
                </methods>
            </class>
            <class name="test.zakharanka.task02array.service.impl.sort.AddressCalculationSorterTest">
                <methods>
                    <include name="sortTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>