<?xml version="1.0" encoding="UTF-8"?>
<Configuration status = "ERROR">
    <Properties>
        <property name="pattern_file">
            %d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{5}- %msg%n
        </property>
        <property name="pattern_console">
            %d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{5}- %msg%n
        </property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern_console}"/>
        </Console>
        <File name="FileIO" fileName="logs/logIO.txt" bufferedIO="true">
            <PatternLayout pattern="${pattern_file}"/>
        </File>
        <File name="FileImpl" fileName="logs/logImpl.txt" bufferedIO="true">
            <PatternLayout pattern="${pattern_file}"/>
        </File>
        <RollingFile name="RollingFile" fileName="logs/log_root.txt" append="true"
                     filePattern = "logs/${date:yyyy-MM-dd}/%d{yyyy-MM-dd_HH-mm}_%i.txt">
            <PatternLayout pattern="${pattern_file}"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="25 KB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level = "DEBUG">
            <AppenderRef ref = "Console"/>
        </Root>
        <Logger name="by.zakharanka.task01javabasic.controller.Runner" level="DEBUG">
            <AppenderRef ref = "FileImpl"/>
        </Logger>
        <Logger name="by.zakharanka.task01javabasic.view" level="INFO">
            <AppenderRef ref = "FileIO"/>
        </Logger>
        <Logger name="by.zakharanka.task01javabasic.controller.menu.Menu" level="INFO">
            <AppenderRef ref = "FileImpl"/>
        </Logger>
        <Logger name="by.zakharanka.task01javabasic.service" level="INFO">
            <AppenderRef ref = "FileImpl"/>
        </Logger>
    </Loggers>
</Configuration>