<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite">
    <test verbose="2" name="D:/epam/epamtasks/task01javabasic">
        <classes>
            <class name="test.zakharanka.task01javabasic.service.ConvertServiceTest">
                <methods>
                    <include name="expressionTask8Test"/>
                </methods>
            </class>
            <class name="test.zakharanka.task01javabasic.service.ExpressionServiceTest">
                <methods>
                    <include name="expressionTask8Test"/>
                    <include name="milkTaskTest"/>
                    <include name="functionRangeTest"/>
                    <include name="sumRowMembersTest"/>
                </methods>
            </class>
            <class name="test.zakharanka.task01javabasic.service.GeometricServiceTest">
                <methods>
                    <include name="expressionTask8Test"/>
                </methods>
            </class>
            <class name="test.zakharanka.task01javabasic.service.ArithmeticServiceTest">
                <methods>
                    <include name="checkMaxNumbersTest"/><include name="compareNumbersTest"/>
                    <include name="minSquareTest"/>
                    <include name="divisorCheckTest"/>
                    <include name="isPositiveSumTest"/>
                    <include name="differenceTest"/>
                    <include name="rowNumbersTest"/>
                    <include name="sumDigitsTest"/>
                </methods>
            </class>
            <class name="test.zakharanka.task01javabasic.service.TimeServiceTest">
                <methods>
                    <include name="expressionTask8Test"/>
                </methods>
            </class>
            <class name="test.zakharanka.task01javabasic.service.DataValidationServiceTest">
                <methods>
                    <include name="identifierValidationTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>